*{padding: 0;margin: 0;}
body{height: 100vh;background-color: grey;}

.game-frame{width: 1000px;height: 600px;background-color: white;top: 50%;left: 50%; transform: translate(-50%,-50%);position: absolute;
border: 5px solid rgb(0, 0, 0);
}
iframe{width: 100%;height: 100%;}
@media (max-width: 768px) {
    .game-iframe{width: 100%;height: 100%;}
}

