* {
    padding: 0;
    margin: 0;
    transition-duration: 0.3s;
}

body {
    height: 100vh;
    background: url(/img/green-textile-texture1.png) no-repeat;
    background-size: cover;
    
}

img {
    width: 90%;
}

.top {
    width: 100%;
    height: 70%;
    display: flex;justify-content: center;align-items: center;
}

.bottom {
    width: 100%;
    height: 20%;
    display: flex;justify-content: center;align-items: center;
    
}
a{text-decoration: none;
    text-transform: none;
    background-color: rgb(247, 247, 107);
    color: brown;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 15px;
    border: 5px solid rgb(46, 11, 11);
    box-shadow: 0 0 10px white;
    text-shadow: 0px 0px 2px green;

}
a:hover{scale: 1.3;}
.foot{width: 100% ;height: 10%;color: white;text-align: center;}


